<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}


    <div class="page-content">
      <div class="header-background"><div class="img"></div><div class="text"><h1>Algorand Centre of Excellence on Sustainability Informatics for the Pacific (ACE-SIP) Summer School 2023</h1><h2>Melbourne, Australia</h2><h2>2 - 3 Feb 2023</h2></div></div>
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    {% include hemline.html %}

  </body>

</html>
