<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}


    <div class="page-content">
      <div class="header-background"><div class="img"></div><div class="text"><h1>Secure and Trustworthy Deep Learning Systems (SecTL) Workshop<br>July 10 2023, Melbourne, Australia<br>co-located with <a href="https://asiaccs2023.org" style="color:lightcoral">ACM ASIACCS 2023</a></h1></div></div>
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    {% include hemline.html %}

  </body>

</html>
